* {
    box-sizing: border-box;
}

.container {
    text-align: center;
    max-width: 600px;
    margin: auto;
}

.carousel-item {
    background: #333;
    color: #fff;
}

.carousel-item img {
    width: 100%;
    object-fit: cover;
}

.carousel-track {
    display: flex;
}

.carousel-items {
}

.carousel {
    margin: auto;
    position: relative;
    overflow: hidden;
    max-height: 500px;
}

.carousel-nav {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
}