* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.container {
    text-align: center;
    max-width: 600px;
    margin: auto;
    height: 700px;
}

.carousel-item:nth-child(odd) {
    background-color: #FF5733;
}

.carousel-item:nth-child(even) {
    background-color: #89CFF0;
}

